*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* background:-moz-linear-gradient(0deg, rgba(255, 255, 192, 1) 1%, rgba(226, 221, 169, 1) 47%, rgba(255, 251, 231, 1) 100%); */


  

    
    
}

body 
{
      background:-moz-linear-gradient(90deg, rgb(237, 231, 150) 1%, rgb(248, 242, 200) 47%, rgba(255, 255, 255, 50) 100%);
    height: fit-content;
}




/* 


background-image: linear-gradient(to top, #f8f8bc, #f9f9c1, #fbfbc5, #fcfcca, #fdfdce, #fdfdd2, #fcfcd6, #fcfcda, #fafade, #f8f8e3, #f6f6e7, #f4f4eb)

*/